@import "../App/App.css";

#pedigree {
  background-color: var(--color-neutral-700);
  width: 90%;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  grid-template-columns: auto auto auto;

}
  
#pedigree-cell1 {
  display: grid;
  grid-row: 1 / span 4;
}
  
#pedigree-cell2 {
  display: grid;
  grid-row: 1 / span 2;
}
  
#pedigree-cell3 {
  display: grid;
  grid-row: 3 / span 2;
}

#pedigree-cell4 {
  display: grid;
}

#pedigree-cell5 {
  display: grid;
}

#pedigree-cell6 {
  display: grid;
}

#pedigree-cell7 {
  display: grid;
}

@media screen and (max-width: 800px) {


}

@media screen and (max-width: 500px) {

  #pedigree {
    grid-template-columns: auto auto auto auto;
    min-height: 300px;
  }

  #pedigree-cell1 {
    display: grid;
    grid-row: 1;
    grid-column: 1 / span 4;
  }
    
  #pedigree-cell2 {
    display: grid;
    grid-row: 2;
    grid-column: 1 / span 2;
  }
    
  #pedigree-cell3 {
    display: grid;
    grid-row: 2;
    grid-column: 3 / span 2;
  }
  
  #pedigree-cell4 {
    display: grid;
    grid-row: 3;
  }
  
  #pedigree-cell5 {
    display: grid;
    grid-row: 3;
  }
  
  #pedigree-cell6 {
    display: grid;
    grid-row: 3;
  }
  
  #pedigree-cell7 {
    display: grid;
    grid-row: 3;
  }

}