@import "../App/App.css";

#pedigree {
  background-color: var(--color-neutral-700);
  width: 90%;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
  
#pedigree-column1 {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  width: 100%;
}
  
#pedigree-column2 {
  display: grid;
  grid-template-rows: 2fr 2fr;
}
  
#pedigree-column3 {
  display: grid;
  grid-template-rows: 4fr 4fr 4fr 4fr;
}

@media screen and (max-width: 500px) {
  #pedigree-column1 {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  #pedigree-column2 {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  #pedigree-column3 {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
}