@import "../../styles/global.css";

#stallion-gallery {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    animation: fadeIn 2s;
}

#stallion-gallery-banner {
    display: flex;
    width: 100%;
    margin: auto;
}

#stallion-gallery-banner-image {
    width: 100%;
}

#stallion-gallery-header {
    background-color: var(--color-primary-300);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  #stallion-gallery-header-text {
    color: var(--color-accent-300);
    font-size: var(--font-size-500);
    display: flex;
    font-family: "Royal Signage";
    text-transform: capitalize;
  }

  #stallion-gallery-toolbar {
    height: 50px;
    width: 100%;
  }



  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }