@import "../App/App.css";

#users {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#users-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.users-button {
    display: flex !important;
    background-color: var(--color-primary-500) !important;
    color: var(--color-accent-300) !important;
    border-radius: 0rem !important;
    text-transform: initial !important;
    font-size: 0.75rem !important;
}

.users-button:hover {
    background-color: var(--color-primary-700) !important;
    color: var(--color-accent-500) !important;
}

.users-dialog-button {
    display: flex;
    background-color: var(--color-primary-500) !important;
    color: var(--color-accent-300) !important;
    border-radius: 0rem !important;
    text-transform: initial !important;
    font-size: 0.75rem !important;
}

.users-dialog-button:hover {
    background-color: var(--color-primary-300) !important;
    color: var(--color-accent-500) !important;
}

#users-grid {
    width: 100%;
    min-height: 400px;
    height: 50vh;
    margin-bottom: 50px;
    background-color: var(--color-neutral-700);
}

#users-add-user-dialog-form {
    display: flex;
    flex-direction: column;
}

.users-dialog-textfield-group {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
}

/* .users-dialog-textfield::before {
  color: var(--color-accent-300) !important;
  border-color: var(--color-accent-300) !important;
} */

/* .users-dialog-textfield::after {
  color: var(--color-accent-300) !important;
  border-color: var(--color-accent-300) !important;
} */

/* .users-dialog-textfield-error {
    width: 100% !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
    color: red !important;
    border-color: red !important;
} */