@import "../App/App.css";

#users {
    display: flex;
    width: 90%;
    flex-direction: column;
}

#users-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.users-button {
    display: flex;
    background-color: var(--color-primary-500);
    color: var(--color-accent-300);
    border-radius: 0rem;
    text-transform: initial;
    font-size: 0.75rem;
}

.users-button:hover {
    background-color: var(--color-primary-700);
    color: var(--color-accent-500);
}

.users-dialog-button {
    display: flex;
    background-color: var(--color-primary-500);
    color: var(--color-accent-300);
    border-radius: 0rem;
    text-transform: initial;
    font-size: 0.75rem;
}

.users-dialog-button:hover {
    background-color: var(--color-primary-300);
    color: var(--color-accent-500);
}

#users-grid {
    width: 100%;
    min-height: 400px;
    height: 50vh;
    margin-bottom: 50px;
    background-color: var(--color-neutral-700);
}

#users-add-user-dialog-form {
    display: flex;
    flex-direction: column;
}

.users-dialog-textfield-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.users-dialog-textfield {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    color: var(--color-accent-300) !important;
    border-color: var(--color-accent-300) !important;
}

.users-dialog-textfield::before {
  color: var(--color-accent-300) !important;
  border-color: var(--color-accent-300) !important;
}

.users-dialog-textfield::after {
  color: var(--color-accent-300) !important;
  border-color: var(--color-accent-300) !important;
}

.users-dialog-textfield-error {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
    color: red !important;
    border-color: red !important;
}