@import "../App/App.css";

#pedigree-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-accent-300);
  font-weight: var(--font-weight-300);
  border: 1px;
  border-color: var(--color-accent-300);
  border-style: solid;
  min-height: 60px;
  padding-left: 18px;
  padding-right: 18px;
}

#pedigree-cell-text {
  color: var(--color-accent-300);
  font-weight: var(--font-weight-light);
}

#pedigree-cell-text-disabled {
  color: var(--color-accent-300);
  font-weight: var(--font-weight-light);
  opacity: 0.5;
}

#pedigree-cell-text:hover {
  color: var(--color-accent-500);
  cursor: pointer;
}

#pedigree-cell-text-large {
  color: var(--color-accent-300);
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
}

#pedigree-cell-text-large:hover {
  color: var(--color-accent-500);
  cursor: pointer;
}

#pedigree-cell-text-small {
  color: var(--color-accent-300);
  font-weight: var(--font-weight-light);
  font-size: 0.75rem;
}

@media screen and (max-width: 800px) {

  #pedigree-cell-text {
    font-size: var(--font-size-200);
    text-align: center;
  }

}