@import "../../styles/_global.css";

#home-hero-header {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeIn 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#home-hero-header-text {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  color: var(--color-accent-300);
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: "Royal Signage";
  text-transform: capitalize;
}

#home-hero {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.5s !important;
  animation-fill-mode: forwards !important;
  opacity: 0;
}

#home-hero-image {
  width: 100%;
  /* animation: slide 1.5s forwards; */
}

#home-hero-caption {
  color: var(--color-accent-300);
  font-weight: var(--font-weight-light);
  position: absolute;
  text-transform: uppercase;
  font-size: clamp(0.4rem, 1vw, 0.6rem);
  left: 76%;
  bottom: 5%;
  opacity: 0;
  animation: fadeIn 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#home-westwind-otto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  opacity: 0;
  animation: fadeIn 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#home-westwind-otto-text {
  color: var(--color-accent-300);
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: "Royal Signage";
  text-transform: lowercase;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
    overflow: hidden;
  }
  100% {
    transform: translateX(0);
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  #home-hero-caption {
    left: 60%;
    top: 12%;
  }
}