@import "../../fonts/fonts.css";

#home-hero-header {
  /* background-color: red; */
  display: flex;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
}

#home-hero-header-text {
  /* background-color: green; */
  display: flex;
  margin: auto;
  color: #FFEBA6;
  font-weight: 300;
  font-family: "royalSignage";
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  font-size: clamp(16px, 3vw, 36px)
}

#home-hero {
  /* background-color: red; */
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

#home-hero-image {
  /* background-color: purple; */
  width: 80%;
  animation: slide 1s forwards;
}

#home-hero-caption {
  /* background-color: green; */
  position: absolute;
  color: #FFEBA6;
  font-weight: 300;
  text-transform: uppercase;
  font-size: clamp(8px, 0.6vw, 12px);
  left: 76%;
  bottom: 5%;
}

#home-hero-caption-mobile {
  /* background-color: green; */
  position: absolute;
  color: #FFEBA6;
  font-weight: 300;
  text-transform: uppercase;
  font-size: clamp(6px, 1vw, 18px);
  left: 64%;
  top: 8%;
}

#home-westwind-otto {
  /* background-color: red; */
  display: flex;
  margin: 18px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#home-westwind-otto-text {
  /* background-color: green; */
  color: #FFEBA6;
  font-size: clamp(14px, 3vw, 28px);
  font-family: "royalSignage";
  text-transform: lowercase;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
    overflow: hidden;
  }
  100% {
    transform: translateX(0);
    overflow: hidden;
  }
}