@import "../../fonts/fonts.css";

#home-hero-header {
  background-color: yellow;
  display: flex;
  width: 100%;
  margin: 18px;
}

#home-hero-header-text {
  background-color: green;
  display: flex;
  margin: auto;
  color: #FFEBA6;
  font-weight: 300;
  font-family: "royalSignage";
  text-transform: capitalize;
  justify-content: center;
  font-size: clamp(24px, 3vw, 32px)
}

#home-hero {
  background-color: orange;
  width: 66%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-hero-image {
  background-color: purple;
  animation: slide 1s forwards;
}

#home-hero-caption {
  background-color: green;
  color: #FFEBA6;
  font-weight: 300;
  text-transform: uppercase;
  font-size: clamp(8px, 0.6vw, 12px);
  position: absolute;
  right: 15%;
  bottom: 2%;
}

/* #home-westwind-otto {
  background-color: red;
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
} */

/* #home-westwind-otto-text {
  background-color: green;
  color: #FFEBA6;
  font-size: 2vw;
  font-family: "royalSignage";
  text-transform: lowercase;
} */

@keyframes slide {
  0% {
    transform: translateX(133%);
    overflow: hidden;
  }
  100% {
    transform: translateX(0);
    overflow: hidden;
  }
}