@import "../App/App.css";

.dialog-button-confirm {
    background-color: var(--color-primary-500) !important;
    color: var(--color-accent-300) !important;
    border-radius: 0rem !important;
    text-transform: initial !important;
    font-size: 0.75rem !important;
    font-weight: var(--font-weight-bold) !important;
}
  
.dialog-button-confirm:hover {
    background-color: var(--color-primary-300) !important;
    color: var(--color-accent-500) !important;
}
  
.dialog-button-cancel {
    background-color: transparent !important;
    color: var(--color-accent-300) !important;
    border-radius: 0rem !important;
    border: 1px solid var(--color-accent-100) !important;
    text-transform: initial !important;
    font-size: 0.75rem !important;
}

.dialog-button-cancel:hover {
    background-color: var(--color-primary-300) !important;
    color: var(--color-accent-500) !important;
}

.dialog-button-inline {
    grid-column: 1 / span 1 !important;
    width: 100%;
    background-color: transparent !important;
    color: var(--color-accent-300) !important;
    text-transform: initial !important;
    font-size: 0.75rem !important;
    font-weight: var(--font-weight-medium) !important;
    padding: 0px !important;
    justify-content: flex-start !important;
}

.dialog-button-inline:hover {
    color: var(--color-accent-500) !important;
}