@import "buttons.css";
@import "mui.css";
@import "animations.css";

@font-face {
    font-family: "Royal Signage";
    src: url("fonts/RoyalSignage-Rg.otf");
}

:root {

    --color-primary-300: rgba(223, 71, 37, 0.2);
    --color-primary-500: rgba(223, 71, 37, 0.3);
    --color-primary-700: rgba(100, 30, 20);
  
    --color-accent-300: rgba(255, 235, 166);
    --color-accent-500: rgba(255, 248, 221);
  
    --color-neutral-300: rgba(12, 12, 12);
    --color-neutral-500: rgba(0, 0, 0, 0.6);
    --color-neutral-700: #0000004d;

    --font-size-100: 0.5rem;
    --font-size-300: 1.0rem;
    --font-size-500: 1.5rem;
    --font-size-700: 2.0rem;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
  
}

.gallery-card {
    display: grid !important;
    background-color: var(--color-primary-500) !important;
    width: 100% !important;
    border-radius: 0rem !important;
}

.gallery-card-label {
    background-color: var(--color-neutral-500) !important;
    color: var(--color-accent-300) !important;
    display: flex !important;
    position: absolute !important;
    justify-content: center !important;
    align-items: center !important;
    bottom: 0rem !important;
    width: 100% !important;
    min-height: 18% !important;
}
  
.gallery-card-label-text {
    font-weight: var(--font-weight-light) !important;
    display: flex !important;
    margin: auto !important;
    letter-spacing: 1.5px !important;
    font-size: clamp(0.5rem, 2vw, 1rem)!important;
}

.gallery-card:hover {
    filter: brightness(115%) !important;
}

.section-header {
    background-color: var(--color-primary-300) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin: 1rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
  
.section-header-text {
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-500) !important;
    display: flex !important;
    font-family: "Royal Signage" !important;
    text-transform: capitalize !important;
}

.section-header-banner {
    background-color: var(--color-primary-300) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
  
.section-header-banner-text {
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-500) !important;
    display: flex !important;
    font-family: "Royal Signage" !important;
    text-transform: capitalize !important;
}

.content-banner {
    display: flex !important;
    width: 100% !important;
    margin: auto !important;
}

.content-banner-image {
    width: 100% !important;
}

.content-container {
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    max-width: 800px !important;
    animation: fadeIn 1s !important;
}

.content-toolbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 90% !important;
    margin: 1rem !important;
  }

  .content-toolbar-breadcrumbs {
    width: 50% !important;
    color: var(--color-accent-300) !important;
  }

  .content-toolbar-breadcrumbs a {
    color: var(--color-accent-300) !important;
    font-size: 0.75rem !important;
  }

  .content-toolbar-breadcrumbs a:hover {
    color: var(--color-accent-500) !important;
    text-decoration: underline !important;
  }

  .gallery-container {
    background-color: var(--color-neutral-700) !important;
    width: 100% !important;
    display: grid !important;
    grid-template-columns: 3fr 3fr 3fr !important;
    box-sizing: border-box !important;
    column-gap: 1rem !important;
    row-gap: 1rem !important;
    padding: 1rem !important;
    min-height: 50vh !important;
  }

  .content-detail-header {
    display: flex !important;
    flex-direction: row !important; 
    justify-content: space-between !important;
    align-items: center;
    width: 90%;
    position: relative;
    margin: 1rem;
  }

  .content-detail-header-text {
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-500) !important;
    text-align: center !important;
    text-transform: uppercase !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .content-detail-header-divider {
    background-color: var(--color-accent-300);
    height: 2px;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    .gallery-container {
      grid-template-columns: 3fr !important;
    }
  }


  .content-detail-section-container {
    background-color: var(--color-neutral-700);
    width: 90%;
    display: flex;
    margin: 1rem;
    padding: 1rem !important;
  }

  .content-detail-section-image {
    width: 50%;
  }

  .content-detail-section-info {
    margin-left: 1rem;
  }

  .content-detail-section-basic-header {
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-500) !important;
  }

  .content-detail-section-basic-text {
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-300) !important;
  }




  .content-detail-subheader {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .content-detail-subheader-divider {
    background-color: var(--color-accent-300);
    height: 1px;
    width: 100%;
  }

  .content-detail-subheader-text {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-300) !important;
    text-transform: uppercase !important;
}

.content-detail-section-gallery {
    background-color: var(--color-neutral-700);
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr !important;
    box-sizing: border-box !important;
    column-gap: 1rem !important;
    row-gap: 1rem !important;
    margin: 1rem;
    padding: 1rem !important;
}
