@font-face {
    font-family: "Royal Signage";
    src: url("fonts/RoyalSignage-Rg.otf");
}

:root {

    --color-primary-300: rgba(223, 71, 37, 0.2);
    --color-primary-500: rgba(223, 71, 37, 0.3);
    --color-primary-700: rgba(100, 30, 20);
  
    --color-accent-300: rgba(255, 235, 166);
    --color-accent-500: rgba(255, 248, 221);
  
    --color-neutral-300: rgba(12, 12, 12);
    --color-neutral-500: rgba(0, 0, 0, 0.6);
    --color-neutral-700: rgba(0, 0, 0, 0.3);

    --font-size-100: 0.5rem;
    --font-size-300: 1.0rem;
    --font-size-500: 1.5rem;
    --font-size-700: 2.0rem;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
  
}