@import "../../styles/_global.css";

#home-breeding {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  opacity: 0;
  animation: fadeIn 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#home-breeding-container {
  background-color: var(--color-neutral-700);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#home-breeding-image {
  display: flex;
  width: 50%;
}

#home-breeding-info {
  padding: 1.5rem;
}

#home-breeding-text {
  color: var(--color-accent-300);
  font-weight: var(--font-weight-light);
  font-size: 0.75rem;
}

@media screen and (max-width: 800px) {
  #home-breeding-container {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
  #home-breeding-image {
    width: 100%;
  }
  #home-breeding-info {
    padding: 0rem;
  }
}