@import "../../fonts/fonts.css";

#home-breeding-header {
  /* background-color: red; */
  background-color: rgb(223, 71, 37, .2);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 18px;
}

#home-breeding-header-text {
  /* background-color: green; */
  display: flex;
  color: #FFEBA6;
  font-family: "royalSignage";
  text-transform: capitalize;
  font-size: 24px;
}

#home-breeding {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 18px;
}

#home-breeding-container {
  /* background-color: yellow; */
  background-color: rgba(0, 0, 0, 0.3) !important;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: clamp(10px, 1vw, 18px);
}

#home-breeding-image {
  display: flex;
  width: 50%;
  margin-right: 10px;
}

#home-breeding-text {
  /* background-color: green; */
  color: #FFEBA6;
  font-weight: 400;
  font-size: 12px;
  margin-left: clamp(18px, 10vw, 36px);
  margin-right: clamp(18px, 10vw, 36px);
}

#home-breeding-button {
  background-color: rgb(223, 71, 37, .2);
  color: #FFEBA6;
  border-radius: 0px;
  text-transform: initial;
  font-size: 12px;
  margin-left: clamp(18px, 10vw, 36px);
  height: clamp(24px, 2vw, 36px);
}

#home-breeding-button:hover {
  background-color: rgb(223, 71, 37, .3) !important;
  color: #fff8dd !important;
}

#home-breeding-container-mobile {
  /* background-color: yellow; */
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: clamp(18px, 5vw, 36px);
}

#home-breeding-image-mobile {
  display: flex;
  width: 100%;
  margin-bottom: clamp(18px, 5vw, 36px);
  
}

#home-breeding-text-mobile {
  /* background-color: green; */
  color: #FFEBA6;
  font-weight: 400;
  font-size: clamp(12px, 1vw, 16px);
}

#home-breeding-button-mobile {
  background-color: rgb(223, 71, 37, .2);
  color: #FFEBA6;
  border-radius: 0px;
  text-transform: initial;
  height: clamp(24px, 2vw, 36px);
  font-size: 12px;
}

#home-breeding-button-mobile:hover {
  background-color: rgb(223, 71, 37, .3) !important;
  color: #fff8dd !important;
}