@import "../App/App.css";

#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem;
}
  
#toolbar-breadcrumbs {
    width: 50%;
    color: var(--color-accent-300);
}
  
#toolbar-breadcrumbs a {
    color: var(--color-accent-300);
    font-size: 0.75rem;
}
  
#toolbar-breadcrumbs a:hover {
    color: var(--color-accent-500);
    text-decoration: underline;
}