@import "../../styles/_global.css";

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center;
  background: url("../../../public/images/background2.png") repeat top center fixed; 
  background-size: 30%;
  background-color: #0c0c0c;
}