body {
  margin: 0px;
  margin: auto;
  background-color: rgb(20, 20, 20);
  font-family: "Roboto", sans-serif;
  align-items: center;
  background: url("../../../public/images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}