@import "../App/App.css";

.content-detail-subheader {
    width: 100%;
    display: flex;
    align-items: center;
}

.content-detail-subheader-divider {
    background-color: var(--color-accent-300);
    height: 1px;
    width: 100%;
}

.content-detail-subheader-text {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-300) !important;
    text-transform: uppercase !important;
}