@import "../../fonts/fonts.css";

#navigation {
  display: flex;
  background-color: rgb(223, 71, 37, .2);
  justify-content: space-around;
}

#navigation-group-left {
  /* background-color: red; */
  display: flex;
  width: 100%;
  margin-left: 60px;
}

#navigation-group-right {
  /* background-color: blue; */
  display: flex;
  margin-right: 20px
}

.navigation-button-home {
  font-family: "royalSignage" !important;
  text-transform: capitalize !important;
  color: #FFEBA6 !important;
  font-size: 36px !important;
}

.navigation-button-home:hover {
  background-color: inherit !important;
}

.navigation-button {
  color: #FFEBA6 !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  border-radius: 0px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.navigation-button:hover {
  background-color: rgb(223, 71, 37, .3) !important;
  color: #fff8dd !important;
}

.navigation-button-social {
  color: #FFEBA6 !important;
}

.navigation-button-social:hover {
  color: #fff8dd !important;
}

.MuiMenu-paper {
  background-color: rgb(100, 30, 20) !important;
  font-weight: 10 !important;
}

.MuiMenuItem-root {
  color: #FFEBA6 !important;
  font-weight: 300 !important;
}

.MuiMenuItem-root:hover {
  background-color: rgb(223, 71, 37, .3) !important;
  color: #fff8dd !important;
}