@import "../../fonts/fonts.css";

#navigation-mobile {
  background-color: rgb(223, 71, 37, .2);
  justify-content: space-around;
  min-width: 280px;
}

#navigation-mobile-group-left {
  display: flex;
  margin-right: auto;
}

#navigation-mobile-group-center {
  display: flex;
}

#navigation-mobile-group-right {
  display: flex;
  margin-left: auto;
}

.navigation-mobile-button-menu {
  color: #FFEBA6 !important;
}

.navigation-mobile-button-home {
  font-family: "royalSignage" !important;
  text-transform: capitalize !important;
  color: #FFEBA6 !important;
  font-size: clamp(16px, 5vw, 30px) !important;
}

.navigation-mobile-button-home:hover {
  background-color: inherit !important;
}

.navigation-mobile-button-social {
  color: #FFEBA6 !important;
}

#navigation-mobile-menu-list{
  background-color: rgb(71, 27, 21) !important;
}

.navigation-mobile-divider {
  background-color: #00000050 !important;
}

.MuiListItemText-primary {
  color: #FFEBA6 !important;
  font-weight: 300 !important;
}