@import "../../styles/_global.css";

#navigation {
  background-color: var(--color-primary-300);
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: fadeIn 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#navigation-group-left {
  display: flex;
  width: 100%;
  margin-left: 4rem;
}

#navigation-group-right {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

#navigation-group-small-left {
  display: flex;
}

#navigation-group-small-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

#navigation-group-small-right {
  display: flex;
}