@import "../../fonts/fonts.css";

#navigation {
  display: flex;
  background-color: rgb(223, 71, 37, .2);
  justify-content: space-around;
}

#navigation-group-left {
  /* background-color: red; */
  display: flex;
  width: 100%;
}

#navigation-group-right {
  /* background-color: blue; */
  display: flex;
  margin-right: 20px
}

.navigation-button-home {
  font-family: "royalSignage" !important;
  text-transform: capitalize !important;
  color: #FFEBA6 !important;
  font-size: 36px !important;
}

.navigation-button-home:hover {
  background-color: inherit !important;
}

.navigation-button {
  color: #FFEBA6 !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  border-radius: 0px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.navigation-button:hover {
  background-color: rgb(223, 71, 37, .3) !important;
  color: #fff8dd !important;
}

.navigation-button-social {
  color: #FFEBA6 !important;
}

.navigation-button-social:hover {
  color: #fff8dd !important;
}

.MuiMenu-paper {
  background-color: rgb(100, 30, 20) !important;
  font-weight: 10 !important;
}

.MuiMenuItem-root {
  color: #FFEBA6 !important;
  font-weight: 300 !important;
}

.MuiMenuItem-root:hover {
  background-color: rgb(223, 71, 37, .3) !important;
  color: #fff8dd !important;
}

#navigation-button-menu {
  color: #FFEBA6 !important;
}

#navigation-button-home:hover {
  background-color: inherit !important;
}

@media (max-width: 800px) {
  #navigation-group-left {
  }
}

@media (min-width: 800px) {
  #navigation-group-left {
    margin-left: 60px;
  }
}














/* #navigation-mobile-group-center {
  display: flex;
} */

/* #navigation-mobile-group-right {
  display: flex;
  margin-left: auto;
} */



/* .navigation-mobile-button-home {
  font-family: "royalSignage" !important;
  text-transform: capitalize !important;
  color: #FFEBA6 !important;
  font-size: clamp(16px, 5vw, 30px) !important;
} */



/* .navigation-mobile-button-social {
  color: #FFEBA6 !important;
} */

/* #navigation-mobile-menu-list{
  background-color: rgb(71, 27, 21) !important;
} */

/* .navigation-mobile-divider {
  background-color: #00000050 !important;
} */

/* .MuiListItemText-primary {
  color: #FFEBA6 !important;
  font-weight: 300 !important;
} */