@import "../App/App.css";

#navigation {
  background-color: var(--color-primary-300);
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: fadeIn 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#navigation-group-left {
  display: flex;
  width: 100%;
  margin-left: 4rem;
}

#navigation-group-right {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

#navigation-group-small-left {
  display: flex;
}

#navigation-group-small-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

#navigation-group-small-right {
  display: flex;
}

#navigation-button-home {
  color: var(--color-accent-300) !important;
  font-size: clamp(1.25rem, 3vw, 2rem) !important;
  background-color: inherit !important;
  font-family: "Royal Signage" !important;
  text-transform: capitalize !important;
}

.navigation-button-toolbar {
  color: var(--color-accent-300) !important;
  font-weight: var(--font-weight-light) !important;
  font-size: var(--font-size-300) !important;
}

.navigation-button-toolbar:hover {
  background-color: var(--color-primary-500) !important;
  color: var(--color-accent-500) !important;
}

.navigation-button-toolbar-icon {
  color: var(--color-accent-300) !important;
  border-radius: 0.25rem !important;
}

.navigation-button-toolbar-icon:hover {
  background-color: var(--color-primary-500) !important;
  color: var(--color-accent-500) !important;
}