#preloader {
  display: flex;
  background: black url("../../../public/assets/animations/loading_spinner.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-items: center;
}

#preloader-logo {
  height: 100px;
  margin: auto;
}