@import "../../fonts/fonts.css";

#home-container {
  display: flex;
  padding-top: 24px;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

#home-header {
  color: #FFEBA6;
  font-weight: 300;
  font-family: "royalSignage";
  text-transform: capitalize;
  font-size: 5vh;
}

#home-image {
  display: flex;
  height: 90vh;
  max-height: 700px;
  margin: auto;
  position: relative;
  top: -50px;
  /* background-color: red; */
}

#home-label-otto {
  color: #FFEBA6;
  font-weight: 300;
  font-family: "royalSignage";
  text-transform: capitalize;
  font-size: 5vh;
  position: relative;
  top: -60px;
}

#home-caption {
  color: #FFEBA6;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 20%;
  font-size: 8px;
  /* background-color: green; */
  position: relative;
  top: -120px;
}