@import "../../fonts/fonts.css";

#home-container {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  width: 66%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#home-header {
  width: 100%;
  /* background-color: green; */
  font-size: 52px;
}

#home-header-headline {
  color: #FFEBA6 !important;
  font-weight: 300;
  font-family: "royalSignage";
  text-transform: capitalize;
  text-align: center;
  font-size: clamp(24px, 3vw, 52px)
}

#home-hero {

  display: flex;
  /* background-color: red; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 18px;
}

#home-hero-image {
  width: 70%;
  /* animation: fadeIn 3s; */
}

/* #home-label-otto {
  color: #FFEBA6;
  font-weight: 300;
  font-family: "royalSignage";
  text-transform: capitalize;
  font-size: 5vh;
  position: relative;
  top: -60px;
}

#home-caption {
  color: #FFEBA6;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 20%;
  font-size: 8px;
  background-color: green;
  position: relative;
  top: -120px;
} */

#test-type {
  display: flex;
  background-color: green;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}