@import "../../fonts/fonts.css";

#home-container {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

#home-header {
  /* background-color: green; */
  width: 100%;
  font-size: 52px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#home-header-text {
  color: #FFEBA6 !important;
  font-weight: 300;
  font-family: "royalSignage";
  text-transform: capitalize;
  text-align: center;
  font-size: clamp(24px, 3vw, 42px)
}

#home-hero {
  /* background-color: red; */
  position: relative;
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

#home-hero-image {
  /* background-color: purple; */
  width: 50%;
  animation: slide 1s forwards;
}

#home-hero-caption {
  /* background-color: green; */
  color: #FFEBA6;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.6vw;
  position: absolute;
  bottom: 6%;
  right: 26%;
}

#home-westwind-otto {
  /* background-color: green; */
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;

}

#home-westwind-otto-text {
  color: #FFEBA6;
  font-size: 3vw;
}

@keyframes slide {
  0% {
    transform: translateX(50%);
    overflow: hidden;
  }
  100% {
    transform: translateX(0);
    overflow: hidden;
  }
}