@import "../App/App.css";

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#contact-info {
    background-color: var(--color-neutral-700);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex-direction: column;
}

#contact-info-text-header {
    margin-bottom: 1rem;
    color: var(--color-accent-300);
    font-size: var(--font-size-500);
}

#contact-info-text {
    color: var(--color-accent-300);
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-light);
}

#contact-info-text a:hover {
    color: var(--color-accent-500);
}
  
#contact-bryan-image {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

#contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}