@import "../../fonts/fonts.css";

#home-horses-header {
  /* background-color: red; */
  background-color: rgb(223, 71, 37, .2);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 18px;
}

#home-horses-header-text {
  /* background-color: green; */
  display: flex;
  color: #FFEBA6;
  font-family: "royalSignage";
  text-transform: capitalize;
  font-size: 24px;
}

#home-horses {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#home-horses-grid {
  /* background-color: yellow; */
  background-color: rgba(0, 0, 0, 0.3) !important;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  column-gap: clamp(10px, 1vw, 18px);
  padding: clamp(10px, 1vw, 18px);
}

.home-horses-card {
  border-radius: 0px !important;
}

.home-horses-card:hover {
  filter: brightness(115%) !important;
}

.home-horses-card-label {
  display: flex !important;
  position: absolute !important;
  background-color: rgb(0, 0, 0, .6) !important;
  color: #FFEBA6 !important;
  bottom: 0px !important;
  width: 100% !important;
  justify-content: center;
  align-items: center;
  height: clamp( 24px, 5vw, 36px) !important;
}

.home-horses-card-label-text {
  display: flex !important;
  margin: auto !important;
  letter-spacing: 1.5px !important;
  font-size: clamp(8px, 2vw, 14px)!important;
}