@import "../../styles/_global.css";

#home-horses-header {
  background-color: var(--color-primary-300);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#home-horses-header-text {
  color: var(--color-accent-300);
  font-size: var(--font-size-500);
  display: flex;
  font-family: "Royal Signage";
  text-transform: capitalize;
}

#home-horses {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#home-horses-grid {
  background-color: var(--color-neutral-700);
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  column-gap: 1rem;
  padding: 1rem;
}

.home-horses-card {
  border-radius: 0px !important;
}

.home-horses-card:hover {
  filter: brightness(115%) !important;
}

.home-horses-card-label {
  background-color: var(--color-neutral-500);
  color: var(--color-accent-300);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0rem;
  width: 100%;
  min-height: 18%;
}

.home-horses-card-label-text {
  font-weight: var(--font-weight-light) !important;
  display: flex !important;
  margin: auto !important;
  letter-spacing: 1.5px !important;
  font-size: clamp(0.5rem, 2vw, 1rem)!important;
}

@media screen and (max-width: 800px) {
  #home-horses-header-text {
    font-size: var(--font-size-500);
  }
  #home-horses-grid {
    column-gap: 0.5rem;
    padding: 0.5rem;
  }
}