@import "../../styles/_global.css";

.gallery-card {
    display: grid !important;
    background-color: var(--color-primary-500) !important;
    width: 100% !important;
    border-radius: 0rem !important;
}

.gallery-card-image {
    width: 100% !important;
    height: 160px !important;
    object-fit: cover !important;
}

.gallery-card-label {
    background-color: var(--color-neutral-500) !important;
    color: var(--color-accent-300) !important;
    display: flex !important;
    position: absolute !important;
    justify-content: center !important;
    align-items: center !important;
    bottom: 0rem !important;
    width: 100% !important;
    min-height: 18% !important;
}
  
.gallery-card-label-text {
    font-weight: var(--font-weight-light) !important;
    display: flex !important;
    margin: auto !important;
    letter-spacing: 1.5px !important;
    font-size: 0.75rem !important;
}

.gallery-card:hover {
    filter: brightness(115%) !important;
}