@import "../App/App.css";

#image-card {
    display: grid;
    background-color: transparent;
    width: 100%;
    border-radius: 0rem;
}

#image-card-image {
    width: 100%;
    /* height: 160px; */
    object-fit: cover;
}

#image-card:hover {
    filter: brightness(115%);
}