@import "../../styles/global.css";

#footer {
  background-color: var(--color-primary-300);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

#footer-links {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 800px;
}

#footer-copyright {
  color: var(--color-accent-300);
  text-align: center;
  line-height: 200%;
  font-size: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#footer-links-container {
  display: flex;
  width: 100%;
}

#footer-links-container ul {
  width: 100%;
  list-style-type: none;
  font-size: 0.75rem;
}

#footer-links-container li, a {
  color: var(--color-accent-300);
  text-decoration: none;
  line-height: 150%;
}

#footer-links-container a:hover {
  color: var(--color-accent-500)
}