#footer-mobile {
  background-color: #3A1A06;
  width: 100%;
}

#footer-mobile-group-top {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  margin: auto;
}

#footer-mobile-group-top ul {
  width: 100%;
  list-style-type: none;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#footer-mobile-group-top a:hover {
  color: #fff8dd;
}

#footer-mobile-group-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer-mobile-group-center a {
  color: #FFEBA6;
  line-height: 150%;
  font-size: 12px;
}

#footer-mobile-group-center a:hover {
  color: #fff8dd;
}

#footer-mobile-group-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-mobile-copyright {
  margin: 2px;
  font-size: 8px;
  font-weight: 400;
  color: #FFEBA6;
}

#footer-mobile-divider {
  height: 1px;
  width: 100%;
  background-color: #202020;
  margin-top: 10px;
}