@import "../../styles/_global.css";

#visit {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#visit-container {
  background-color: var(--color-neutral-700);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.visit-description-text {
  color: var(--color-accent-300);
  font-weight: var(--font-weight-light);
  font-size: 0.75rem;
}

#visit-description {
  width: 100%;
  height: 20vh;
}

#visit-google-map {
  width: 100%;
  height: 20vh;
}