@import "../../styles/_global.css";

.section-header {
    background-color: var(--color-primary-300) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin: 1rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
  
.section-header-text {
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-500) !important;
    display: flex !important;
    font-family: "Royal Signage" !important;
    text-transform: capitalize !important;
}

.section-header-banner {
    background-color: var(--color-primary-300) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
  
.section-header-banner-text {
    color: var(--color-accent-300) !important;
    font-size: var(--font-size-500) !important;
    display: flex !important;
    font-family: "Royal Signage" !important;
    text-transform: capitalize !important;
}