@import "../App/App.css";

#login {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    flex-direction: column;
}

#login-inputs {
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: var(--color-primary-300);
    border-radius: 4px;
}

.login-input {
    width: 70%;
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    display: flex !important;
    color: red !important;
}

#login-header {
    text-align: center;
    margin: 42px;
    color: var(--color-accent-300);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-400);
}

#login-button {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 80px;
    margin-bottom: auto;
    background-color: var(--color-primary-500);
    color: var(--color-accent-300);
    border-radius: 0rem;
    text-transform: initial;
    font-size: 0.75rem;
}

#login-button:hover {
    background-color: var(--color-primary-700);
    color: var(--color-accent-500);
}

#login-input-toggle-visibility-button {
    color: var(--color-accent-300);
    border-radius: 0rem;
}

#dialog-close-button {
    display: flex;
    background-color: var(--color-primary-700);
    color: var(--color-accent-300);
    border-radius: 0rem;
    text-transform: initial;
    font-size: 0.75rem;
}

#dialog-close-button:hover {
    background-color: var(--color-primary-500);
    color: var(--color-accent-500);
}

#login-alert {
    margin-top: 40px;
}